<div class="mt-10">
    <form method="POST">
        <div class="form-group">
            <label for="search-input">Nhap tu khoa</label>
            <input type="text" name="q" class="form-control" id="search-input"  placeholder="Nhap tu khoa">
        </div>
        <div class="form-group">
            <label for="gender-input">Nhap tu khoa</label>
            <select name="gender" class="form-control" id="gender-input">
                <option value="">chon gt</option>
                <option value="nam">Nam</option>
                <option value="nu">Nu</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Tim kiem</button>
    </form>
</div>